
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #f5f5dc;
}

	.wrapper{
		max-width: 900px;
		margin: 0 auto;
		padding: 0px 15px 0px 15px ;
	}
	

.picture-img{
max-width: 100%;
margin: 0 auto;
	}

	.key{
		max-width: 100%;
		margin-bottom: 15px;
		border-radius: 10px;
	}

.recomendation{
	font-family: Larsseit;
	font-weight: 700;
	font-size: 40px;
	color: #e67021;;
}

h1{
	font-family: Larsseit;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 15px;
	max-width: 100%;
	color: #0058b5;
}
h3{
	font-family: Larsseit;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 15px;
	color: #b50064;

}
h4{
	font-family: Lato;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 15px;
	color: #1eb500;
}
.introduction{
	font-family: Larsseit;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	max-width: 100%;
	color: rgb(0, 47, 255);
}
.regular{
	font-family: Larsseit;
	font-weight: 400;
	font-size: 48px;
	border: 5px solid blue;
	max-width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: turquoise;

}

.lato__bold {
	max-width: 100%;
	border: 5px dotted green;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 48px;
	border-radius: 10px;

}
.lato__medium {
	max-width: 100%;
	border: 5px solid blue;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 48px;
		border-radius: 10px;

}
.lato__regular {
	max-width: 100%;
	border: 5px solid red;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 48px;
	border-radius: 10px;

}
.header{
	margin-bottom: 15px;
}
.list{
	padding: 30px;
}
.list a:hover {
	color: #1d0010;

}
.list li{
	list-style:decimal;
	padding: 0px 0px 0px 5px;
	margin-top: 10px;
}

.list a{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 20px;
}

.list li:nth-child(1){
	color: #0058b5;
}
.list li:nth-child(2){
	color: #f7ce00;
}
.list li:nth-child(3){
	color: #ba21e6;
}
.list li:nth-child(4){
	color: #e62194;
}
.list li:nth-child(5){
	color: #21e62b;
}
.list li:nth-child(6){
	color: #e67021;
}
.list li:nth-child(7){
	color: #7621e6;
	font-size: 22px;
}
.list-block{
	margin-left: 0px;
	margin-bottom: 10px;
	font-family: CircularStd;

}
.list-car li{
	list-style: disc;
	padding: 0px 0px 0px 15px;
	margin-top: 10px;
	font-family: CircularStd;
}
.list-car li::marker{
	color: green;
	font-size: 25px;
}
.about-car{
	margin-bottom: 15px;

}
.ukranian-car{
	font-family: Larsseit;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 15px;
	color: #f7ce00;
}
.about-ukranian{
	font-family: CircularStd;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
}
.text-bottom{
	margin-bottom: 10px;
	font-family: CircularStd;
	font-weight: 400;
	font-size: 19px;
}
.rastamogka{
	margin-bottom: 15px;
	font-family: Larsseit;
	font-weight: 700;
}
.rastamogka p{
	margin-bottom:  20px;
}
.auction-cars{
color: #ba21e6;
font-size: 40px;
font-family: Larsseit;
font-weight: 700;
}
.sales-cars{
	font-family: Larsseit;
	font-weight: 500;
	margin-bottom: 10px;

}

.sales-cars p{
	margin-top: 10px;
}
.evro-cars{
color: #e62194;
font-family: Larsseit;
	font-weight: 700;
	font-size: 40px;
}
.evro-bliaxi{
	margin-bottom: 10px;
}
.insurance{
	font-family: Larsseit;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 15px;
	color: #21e62b;
}
.insurance-info{
	margin-bottom: 10px;
}
.example{
	margin-bottom: 10px;
	font-family: 'Aref Ruqaa Ink', serif;

}
.bottom-info{
	font-family: Larsseit;
	font-weight: 500;
	margin-bottom: 10px;
}
.bottom-info p{
	margin-top: 10px;

}
footer a{
	max-width: 900px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	text-align: center;
	height: 150px;
	color: #7621e6;

}
.list-car{
	font-family: CircularStd;
	font-size: 22px;
}

.list-car li:nth-child(1){
	color: #0058b5;

}
.list-car li:nth-child(2){
	color: #f7ce00;

}
.list-car li:nth-child(3){
	color: #ba21e6;

}
.list-car li:nth-child(4){
	color: #e62194;

}
.list-car li:nth-child(5){
	color: #21e62b;
	
}