[class*="__container"]{
	max-width: 811px;
	margin: 0 auto;
}
body{
	font-family: 'Lato', sans-serif;
}

body{
	background-image: url('../img/14.jpg');  
	min-height: 1000px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 15px;
	background-color: rgb(81, 51, 163);
	min-height: 80px;
	z-index: 100;
}

.car{
	position: relative;
	width: 350px;
	height: 150px;
	top: 609px;
	left: -294px;
}
.car__main {
	position: fixed;
	 top: 540px;
	left: 540px;
	}

.car__main img{
width: 450px;
height: 200px;
}
.moon{
	/* max-height: 50px;
	max-width: 50px; */
	position: fixed;
	z-index: 3;
}
.moon img{
	position: absolute;
	top: 65px;
  left: 935px;
  max-height: 100px;
  max-width: 100px;
  z-index: 2;
}

.car__wheel2 {
	position: absolute;
	top: 918px;
	left: 1168px;
}

.car__wheel1 {
	position: absolute;
	top: 899px;
	left: 1560px;
}
.car__front-door {
	position: absolute;
	top: 764px;
	left: 1268px;
}
.car__back-door {
	position: absolute;
	top: 762px;
	left: 1429px;
}

.car__windshield {
	position: absolute;
	top: 754px;
	left: 911px;
}
.car__radiator-grill {
	position: absolute;
	top: 928px;
	left: 709px;
}
.car__hood {
	position: absolute;
	top: 860px;
	left: 736px;
}
.car__rear-door {
	position: absolute;
	top: 862px;
	left: 1463px;
}

.car__ahead-door {
	position: absolute;
	top: 871px;
	left: 1260px;
}
.car__speedometr{
	position: absolute;
	top: 464px;
	left: 408px;
	height: 100px;
	width: 100px;
}
.car__speedometr img{
	height: 200px;
	width: 500px;
	border-radius: 20px;
}
.car__speedometr img:hover{
	transform: scale(1.4);
}
.car__logo{
	position: absolute;
	top: -557px;
	left: 2000px;
}
.car__logo img{
height: 350px;
width: 350px;
}
 @media (max-width:3230px) {
	.car{
		position: relative;
		width: 450px;
		height: 200px;
		top: 254px;
		left: -294px;
	}
.car__logo{
	position: absolute;
	top: -198px;
	left: 1665px;
}
}  
/* @media (max-width:3665px) {
	.car{
	position: relative;
	width: 350px;
	height: 150px;
	top: -15px;
	left: -294px;
	}
.car__logo{
	position: absolute;
	top: 78px;
	left: 1381px;
}
}   */