body{
	font-family: 'Lato', sans-serif; 
}
.wrapper {
	max-width: 851px;
	margin: 0 auto;
	padding: 15px;
}
.main-img img{
	max-width: 100%;
}
/* @media (max-width:714px) {
	.hr{
	margin-bottom: 50px;
	} 
.main-img img{
	margin-top: 25px;	}
} */
.hr{
	font-family: 'Lato', sans-serif; 
	min-height: 120px;
	font-weight: 900;
	font-size: 46px;
	line-height: 59.8px;
	color: #1E212C;
	margin: 0px 0px 25px 0px;
	display: inline-block;
}
.header {
	text-align: center;
	min-height: 50px;
	max-width: 100%;
	background-color: #79631b;
}
.some-text {
	font-size: 20px;line-height: 30px;
	font-weight: 700;
	margin-bottom: 15px;

}
.text-img p {
margin-bottom: 20px;
font-size: 16px;
line-height: 25.6px;
}
.text-bottom {
	padding-left: 30px;
}
.text-before {
	margin-bottom: 15px;
}
.list li{
margin-bottom: 15px;
padding-left: 15px;
	}
.list li{
font-size: 16px;
line-height: 25.6px;
}
.link-bottom{
	display: inline-block;
	margin-bottom: 20px;
	max-width: 100px;
	border: #79631b;
	text-align: center;
	background-color: #066fac;
	color: #fff;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 5px 0 #000;

}
.block-main{
	min-height: 400px;
	max-width: 500px;
border: 5px solid red;
margin-bottom: 25px;
background: url(../img/1.avif) no-repeat;
background-size: cover;
border-radius: 10px;}

.block-dashed{
	min-height: 400px;
	max-width: 500px;
border: 5px dotted red;
margin-bottom: 25px;
background: url(../img/2.avif) no-repeat;
background-size: cover;
border-radius: 10px;
}
.block-radius{

	height: 500px;
	max-width: 100%;
	background-color: violet;
	border-radius: 57% 43% 0% 100% / 29% 67% 33% 71% ;
	padding: 100px;
	color: #fff;
	margin-bottom: 30px;
}
	.block-circle{
		height: 300px;
		width: 300px;
		background-color: #79631b;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 30px;
		color: #fff;
		padding-top: 150px;
		text-align: center;
		box-shadow: inset 5px 5px 15px 5px #000000;

	}
.box-shadow{
	
	min-height: 200px;
	max-width: 80%;
	background-color: rgb(148, 54, 11);
	box-shadow: 13px 15px 13px 13px #100d96, inset 13px 15px 35px 13px rgba(192, 11, 162, 0);
	border-radius: 10px;
	margin: 0 0 0 auto;
	margin-bottom: 70px;
}
.box-right{
	min-height: 200px;
	max-width: 80%;
	background-color: rgb(12, 187, 21);
	box-shadow: 13px 15px 13px 13px #FF91EC;
	border-radius: 10px;
	margin: 0 0  auto;
	opacity: 0.5;
	margin-bottom: 40px;
}
.text_block{
	max-height: 150px;
	overflow: scroll;
	margin-bottom: 25px;
	color: #fff;
	background-color: #066fac;
	padding: 15px;	
}
.text_block2{
	max-height: 150px;
	overflow: hidden;
	opacity: 0.6;
	box-shadow: inset 13px 24px 22px -8px #2162FF;
	border-radius: 10px;
	border: 5px dashed #79631b;
	border-bottom: none;
	padding: 15px;
}
.text_block3{
	max-height: 150px;
	visibility: hidden;
}