[class*="__container"]{
	max-width: 811px;
	margin: 0 auto;
}
body{
	font-family: 'Lato', sans-serif;
}

.recruting__title {
margin-bottom: 30px;
font-size: 46px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0em;
}
.recruting__img img {
	max-width: 100%;
	margin-bottom: 50px;
}
.recruting__main-text p{
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
margin-bottom: 24px;


}
.recruting__text p {
	line-height: 25.6px;
	font-size: 16px;
	margin-bottom: 25px;
}
.recruting__Citation {
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
margin-bottom: 43px;
background: url("../img/icons/braces.png") 0 0px no-repeat;
padding-left: 50px;
}
.recruting__benefits {

line-height: 26px;
letter-spacing: 0em;
margin-bottom: 24px;

}
.recruting__list {

}
 .recruting__list li::before {
	background: url("../img/icons/check.svg") 0 16px no-repeat;
	content: "";
	height: 16px;
	width: 16px;
	min-height: 31px;
	line-height: 26px;
	letter-spacing: 0em;
	padding-left: 30px;
	display: inline-block;
	margin-left: -30px;
} 

 /* .recruting__list li {
	background: url("../img/icons/check.svg") 0 6px no-repeat;
	min-height: 31px;
	line-height: 26px;
	letter-spacing: 0em;
	padding-left: 40px;
}  */

.recruting__after-text {
	margin-top: 24px;
	line-height: 160%;
	margin-bottom: 40px;
}
.about-us {
}
.about-us__img {
}
.about-us__title {
}
.about-us__subtitle {
}
.about-us__list {
}
.button {
}
.button_orange {
}
.button_white {
}
.сourses {
}
.сourses__title {
}
.сourses__subtitle {
}
.expert {

}
.expert__marketing {
}
.expert__management {
}
.expert__recruting {
}
.expert__kristin {
}
.expert__dianne {
}
.expert__design {
}

.item-column {
}
.item-column__img {
}
.item-column__profession {
}
.item-column__performer {
}
.item-column__title {
}
.benefits {
}

.benefits__feedback {
}
.benefits__Library {
}
.benefits__community {
}
.tutors {
}
.tutors__title {
}
.tutors__text {
}
.tutors__picture {
}