@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	/* background-color: violet; */
	padding: 15px;
}

body{
	font-family: 'Lato', sans-serif;
}

.header{
	min-height: 80px;
	max-height: 80px;
	background: rgb(16,5,212);
background: linear-gradient(90deg, rgba(16,5,212,1) 18%, rgba(121,9,119,1) 47%, rgba(235,0,255,0.6561975131849616) 84%);
background-attachment: fixed;
}
.navigator{
	display: flex;
justify-content: left;
	max-width: 90%;
	padding-top: 18px;

}
.navigator a{
	display: flex;
	margin-right: 15px;
	color: #fff;
	font-family: "Nunito";
	font-size: 16px;
	text-align: center;
	font-weight: 700;
}
.navigator a:hover{
	display: flex;
	margin-right: 5px;
	margin-bottom: 40px;
	color: #041d0a;
	font-family: "Nunito";
	font-size: 16px;
	text-align: center;
	font-weight: 700;
}

.about {
text-align: left;
}
.about__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin-bottom: 40px;
}
.about__text {
max-width: 600px;
line-height: 160%;
margin-bottom: 55px;
}

.about__description {
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	margin-bottom: 24px;

}
.about__list {
margin-bottom: 70px;
}

.about__list li:not(:last-child) {
	line-height: 160%;
	}
	.about__list ul li::before{
	background: url("../img/icons/check.png") 0 15px no-repeat;
	content: "";
	width: 16px;
	height: 15px;
	display: inline-block;
	margin-right: 12px;
	min-height: 32px;
	transition: all 0.3s ease 0s;
	}
	.about__list li:hover::before {
		transform: scale(1.5);

	}
	.curator-main{
		display: flex;
		height: 600px;
		margin-bottom: 50px;
	}
	.curator__image{
		max-width: 495px;
		max-height: 600px;
	}
	.curator__image img{
	

	} 
.course {
	margin: 30px 0px 0px 135px;

}
.course__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin-bottom: 20px;
}
.course__subtitle {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;

}
.course__prof {
	font-size: 20px;
	line-height: 150%;
	color: #787A80;
	margin-bottom: 6px;
}
.course__list {
	margin-bottom: 60px;
}
.course__list li{
	line-height: 160%;
	font-weight: 700;
}

.course__list>*:last-child {
		margin-bottom: 0px;
	}

	.course__list li:nth-child(1)::before {
		background: url("../img/icons/Star.png") 0 0px no-repeat;
		content: "";
		height: 16px;
		width: 16px;
		display: inline-block;
		margin-right: 10px;
	}
	.course__list li:nth-child(2)::before {
		background: url("../img/icons/Play.png") 0 0px no-repeat;
		content: "";
		height: 16px;
		width: 16px;
		display: inline-block;
		margin-right: 10px;
	}
	.course__list li:nth-child(3)::before {
		background: url("../img/icons/Person.png") 0 0px no-repeat;
		content: "";
		height: 16px;
		width: 16px;
		display: inline-block;
		margin-right: 10px;
	}
	.course__list li:hover::before {
		transform: scale(1.5);

	}
	.course__text {
		line-height: 160%;
		color: #424551;
		max-width: 600px;
		max-height: 156px;
		margin-bottom: 40px;
	}
	.course__icons {
	display: flex;

	}
	.course__facebook {
		margin-right: 12px;
		opacity: 0.6;
	}
	.course__facebook:hover {
		opacity: 1;
		background-color: blue;
	}
	.course__be {
		margin-right: 10px;
		margin-top: 5px;
		opacity: 0.6;
	}
	.course__be:hover {
		opacity: 1;

	}
	.course__twitter {
		margin-right: 12px;
		margin-top: 5px;
		opacity: 0.6;
	}
	.course__twitter:hover {
		opacity: 1;

	}
	.course__in {
		margin-right: 12px;
		margin-top: 2px;
		opacity: 0.6;
	}

	.course__in:hover {
		outline: green;

	}
	.course__in:focus a {
		opacity: 1px solid green;
	}

	.course__icon:hover::before {
		content: "";
		transform: scale(1.5);

	}
	.train-block{
		margin-bottom: 45px;
	}
	.train-block__container{
		max-width: 900px;
		min-height: 500px; 
		background: url("../img/60.webp") 50% 50% /  cover no-repeat;
		border-radius: 10px;
	}
	h2{
		text-align: center;
		margin-bottom: 20px;
		font-family: 'Merriweather', serif;
		font-weight: 900;
		font-size: 50px;
		color: violet;
		text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
	}

	.train-block__start {
		height: 50px;
		width: 50px;
		background-color: #fff;
		border-radius: 50%;
		text-align: center;
		padding-top: 15px;
		font-size: 18px;
		box-shadow: 5px 5px 9px 5px rgba(0,0,0,0.91);
		margin: 45px 0px 0px 55px;
	}
	.train-block__2 {
		background-color:#790eba;
		width: 200px;
		height: 32px;
		margin: -38px 0px 0px 108px;
		visibility: hidden;

	}
	.train-block__start:hover + .train-block__2{
		visibility: visible;
	 }
	 .train-block__2:hover{
		visibility: visible;
	 }
	 	 
	 .train-block__start:hover + .train-block__2,
	.train-block__2:hover{
  visibility: visible;
	}

	.train-block__3 {
		background-color:#790eba;
		width: 32px;
		height: 170px;
		margin: 0px 0px 0px 276px;
		visibility: hidden;
	}
	.train-block__2:hover +.train-block__3 {
		visibility: visible;
	 }
	 .train-block__3:hover{
		visibility: visible;
	 }
	 .train-block__2:hover + .train-block__3,
	 .train-block__3:hover{
	visibility: visible;
	 }
	.train-block__4 {
		background-color:#790eba;
		width: 215px;
		height: 32px;
		margin: 0px 0px 0px 276px;
		visibility: hidden;
	}
	.train-block__3:hover +.train-block__4 {
		visibility: visible;
	 }
	 .train-block__4:hover{
		visibility: visible;
	 }
	 .train-block__3:hover + .train-block__4,
	 .train-block__4:hover{
	visibility: visible;
	 }
	.train-block__5 {
		background-color:#790eba;
		width: 32px;
		height: 180px;
		margin: -32px 0px 0px 491px;
		visibility: hidden;
	}
	.train-block__4:hover +.train-block__5 {
		visibility: visible;
	 }
	 .train-block__5:hover{
		visibility: visible;
	 }
	 .train-block__4:hover + .train-block__5,
	 .train-block__5:hover{
	visibility: visible;
	 }

	.train-block__6 {
		background-color:#790eba;
		width: 265px;
		height: 32px;
		margin: 0px 0px 0px 491px;
		display: inline-block;
		visibility: hidden;
	}

	.train-block__5:hover +.train-block__6 {
		visibility: visible;
	 }
	 .train-block__6:hover{
		visibility: visible;
	 }
	 .train-block__5:hover + .train-block__6,
	 .train-block__6:hover{
	visibility: visible;
	 }
	.train-block__finish {
		background: url("../img/61.jpg") 50% 50% /  cover no-repeat;
		height: 130px;
		width: 130px;
		color: #FFF;
		border-radius: 90%;
		text-align: center;
		padding-top: 15px;
		font-size: 17px;
		box-shadow: 5px 5px 9px 5px rgba(0,0,0,0.91);
		margin: -130px 0px 0px 736px;
		display: inline-block;
		background-color: fuchsia;
		visibility: hidden;
		margin-bottom: 40px;
	}
	

	.train-block__6:hover +.train-block__finish {
		visibility: visible;
	 }
	 .train-block__finish:hover{
		visibility: visible;
	 }
	 .train-block__6:hover + .train-block__finish,
	 .train-block__finish:hover{
	visibility: visible;

	 }

.link a{
	display: inline-block;
}

.elements__cont {
	max-width: 900px;
	margin: 0 auto;
}

.elements__title{
	margin: 0px 0px 50px 0px;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 40px;
	color: violet;
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
	text-align: center;
}
.elements__hov{
	display: flex;
}

.elements__1 {
	height: 150px;
	width: 150px;
	background-color: #77608d;
	border-radius: 15px;
	margin-right: 25px;
}
.elements__1:hover{
background: url("../img/79.jpg") 100% 100% / cover no-repeat;
border-radius: 15px;
transform: scale(1.3);
}

.elements__2 {
	height: 150px;
	width: 150px;
	background-color: #77608d;
	border-radius: 15px;
	margin-right: 30px;
}
.elements__2:hover{
background: url("../img/16.jpg") 100% 100% / cover no-repeat;
border-radius: 15px;
transform: scale(1.3);
}
.elements__3 {
	height: 150px;
	width: 150px;
	background-color: #77608d;
	border-radius: 15px;
	margin-right: 25px;
}
.elements__3:hover{
background: url("../img/77.jpg") 100% 100% / cover no-repeat;
border-radius: 15px;
transform: scale(1.3);
}

.elements__4 {
	height: 150px;
	width: 150px;
	background-color: #77608d;
	border-radius: 15px;
	margin-right: 25px;
}
.elements__4:hover{
background: url("../img/35.jpg") 100% 100% / cover no-repeat;
border-radius: 15px;
transform: scale(1.3);
}
.elements__5 {
	height: 150px;
	width: 150px;
	background-color: #77608d;
	border-radius: 15px;
	margin-right: 25px;
}
.elements__5:hover{
background: url("../img/31.jpg") 100% 100% / cover no-repeat;
border-radius: 15px;
transform: scale(1.3);
}
.elements__6 {
	height: 150px;
	width: 150px;
	background-color: #77608d;
	border-radius: 15px;
	margin-right: 25px;
}
.elements__6:hover{
background: url("../img/76.jpg") 100% 100% / cover no-repeat;
border-radius: 15px;
transform: scale(1.3);
}
.title{
	margin-top: 50px;
}

.elements__link{
	display: inline-block;
	background-color: #75411b;
	height: 30px;
	width: 100px;
	color: #FFF;
	margin-right: 10px;
	border-radius: 3px;
	text-align: center;
	line-height: 150%;
}
.elements__link:focus{
	outline: 7px ridge rgba(170, 50, 220, .6);
	border-radius: 2rem;
}
/* .link1{
	display: inline-block;
	background-color: #75411b;
	height: 30px;
	width: 100px;
	color: #FFF;
	margin-right: 10px;
	border-radius: 3px;
	text-align: center;
	line-height: 150%; 
}
.link1 a:visited {
	background-color: yellow;
	border-color: hotpink;
	color: hotpink;
 } */
.link__target{
	display: inline-block;
	margin-bottom: 20px;
	max-width: 150px;
	border: #79631b;
	text-align: center;
	background-color: #152b7d;
	color: #fff;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 5px 0 #000;
}
.block{
	background-color: #77608d;
	color: #fff;
	padding: 15px;
	display: none;
	height: 300px;
	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	line-height: 160%;
}
.block:target{
	display: block;
}




