/* Подключение шрифтов в google phonts через import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Roboto:wght@700;900&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

/* подключение файлов шритов */
@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}