/* https://www.high-dance.ru/tancy-so-vsego-mira/kak-tancevat-kizombu-istoriya-i-osobennosti-tanca.html
брал инфу отсюда */

body{
	background-color: #e7c0ff;

}
.wrapper{
	max-width: 950px;
	margin: 0 auto;
	padding: 20px 20px;
}
img{
	max-width: 100%;
	border-radius: 10px;
}
.list-menu{
	padding-left: 15px;
	margin: 20px 0 50px 0;
}
	.list a{
		display: flex;
	justify-content: space-between;
	}
.menu{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 20px;
	font-weight: 700;
	list-style: decimal;
	text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;;
}
.menu li{
	list-style: decimal;
	margin-top: 10px;
}
h1{
	font-family: 'Playfair Display', serif;
	font-size: 44px;
	margin: 20px 0 20px 0px;
}
.introduction {
margin-bottom: 30px;
line-height: 2;
font-family: 'Roboto', sans-serif;
font-size: 20px;
}
.introduction span{
	text-transform: uppercase;
	text-decoration: underline;
	color: red;
	}

.kisomba-different {
	font-family: 'Playfair Display', serif;
	font-size: 44px;
	margin: 20px 0 20px 0px;
}
.kiz-top {
margin-bottom: 20px;
font-family:Nunito, sans-serif;
}
.dance-ritm{
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #A60000;
}
.no-doing li::marker{
	font-size: 15px;
	color: #A60000;

}
.list-bachata li::marker{
	font-size: 20px;
	color: #A60000;
}

.kiz-top a {
color: red;
text-transform: uppercase;
font-weight: 900;
text-decoration: underline;
letter-spacing: 5px;
}
.text-test{
	letter-spacing: 7px;
}
.kiz-bottom {
	font-weight: 700;	
	margin-bottom: 10px;
	font-family: 'Noto Sans Mono', monospace; 
}
.kiz-bottom2 {
	font-weight: 700;	
	margin-bottom: 10px;
	font-family: "Nunito";
}
.bachata {
	margin-top: 15px;
	font-family: 'Playfair Display', serif;
	text-align: justify;
}

.footer {
text-align: center;
}

.list-end li{
	list-style: decimal;
	margin-top: 10px;
}
.end-p{
	margin-top: 15px;
	line-height: 1.5;
	font-family: "Nunito";
	font-weight: 900;
	color: red;
}
.list-end{
	padding-left: 20px;
	font-family: "Nunito",sans-serif;
	font-size: 20px;
	line-height: 1.2;

}
.list-end span{
	text-decoration: line-through;
	color: red;
}
.arrow{
	text-align: center;
	margin-bottom: 10px;
	display: inline-block ;
	background: #333333;
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;;
}
.img-o{
	max-width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
}
.history-dance p{
	margin-top: 10px;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	color: blue;
	font-weight: 700;
}
.dress{
	line-height: 1.4;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif; 
}
.dress span{
	text-transform: uppercase;
	color: green;
	font-family: "Nunito";
	ont-weight: 900;
}
.dress p{
	margin-top: 10px;
}
.razlichie{
	padding: 20px;
}
.razlichie p{
	margin-bottom: 15px;
}
.razlichie li{
	list-style: circle;	
	font-family: "Nunito";
	font-size: 18px;
	line-height: 1.3;
	font-weight: 700;
}
.common-study p {
	margin-top: 15px;
	font-family: "Nunito";
	font-style: italic;
	font-weight: 500;
	text-decoration: underline;
	color: #1a0080;
}
.random-margin{
	margin: 15px 0 15px 0;
	line-height: 1.3;
}